### Milk Production Forecasting

In [1]:
# importing packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# importing dataset

df = pd.read_csv('monthly_milk_production.csv')
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df.head()

            Production
Date
1962-01-01         589
1962-02-01         561
1962-03-01         640
1962-04-01         656
1962-05-01         727